.idea/
model/

pdfs_new/
wordcloud/
test.py
Diagram for Summary Generation WebApp.pptx
sambit_accessKeys.csv
summary-test-key.pem
image_ref.jpeg
ec2 instance.xlsx
ec2-user@ec2-54-210-88-19.compute-1.amazonaws.com
test summary prediction folder/
main.py
project completion timing.xlsx
unittest/